.tab-header {
  display: flex;
}
.tab-header .tab-header-item {
  height: 25px;
  padding: 0 8px;
  border: 1px solid #babec5;
  border-bottom: none;
  margin-right: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tab-header .tab-header-item:hover {
  color: #2ca01c;
}
.tab-header-active {
  height: 30px;
  background: #cce4f9;
  border-bottom: none;
}
.tab-body {
  border: 1px solid #babec5;
  height: 195px;
  padding: 12px 10px 0 10px;
}
