.button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #2ca01c;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #35bf22;
  font-family: MisaNotoSans-SemiBold !important;
}
.button:hover {
  background-color: #35bf22;
}

.button-white {
  background-color: #fff;
  color: #111;
  border: 1px solid #8d9096;
}
.button-white:hover {
  background-color: #d2d3d6;
}
