.table-view {
  max-height: calc(100vh - 248px);
  overflow: auto;
  position: relative;
  background: #fff;
  margin: 0 16px;
}
.table-view table {
  /* height: calc(100vh - 248px); */
  border-collapse: separate;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  border-spacing: 0;
  background: #fff;
}
.table-view tr {
  border-bottom: 1px solid #bbb;
}
.table-view tr th {
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  min-height: 34px;
  height: 34px;
  z-index: 2;
  top: 0;
  background-color: #eceef1;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
  font-family: MisaNotoSans-SemiBold !important;
}
.table-view th:last-child {
  border-right: none;
  border-left: 1px solid #c7c7c7;
}

.table-view th:nth-last-child(2),
.table-view td:nth-last-child(2) {
  border-right: none;
}
.table-view tr:hover td {
  background: #f3f8f8;
}
.table-view tr:active,
.table-view tr:focus {
  background: #f8f8f8;
}
.table-view td,
th {
  box-sizing: content-box;
  padding: 0 10px;
  width: 1px;
  white-space: nowrap;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  color: #454545;
  box-sizing: border-box;
}
.table-view tr td {
  height: 48px;
  border-right: 1px dotted #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff;
}

.table-view td:last-child {
  border-right: none;
  border-left: 1px dotted #c7c7c7;
}
.table-view thead {
  position: sticky;
  top: 0;
  z-index: 10;
}
