.toast-mess {
  position: fixed;
  top: 50px;
  left: 50%;
  right: 50%;
  z-index: 999;
}

.content-mess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2ca01c;
  border-radius: 4px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 250px;
  border: 1px solid #2ca01c;
}
.content-mess .text {
  color: #fff;
  font-family: MisaNotoSans-SemiBold !important;
}
