.toast-mess {
  position: fixed;
  top: 80px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.content-mess {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #2ca01c;
  border-left: 7px solid #2ca01c;
}
.content-mess .text {
  color: #111;
  font-family: MisaNotoSans-SemiBold !important;
}
