.menu {
  width: 180px;
  background-color: #38393d;
}
.close-menu {
  width: 52px !important;
}
.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.menu .home {
  margin-right: 10px;
}
.menu .toggle {
  margin-right: 10px;
}
.menu .logo {
  height: 32px;
}

.menu .logo img {
  height: 32px;
}
.menu .menu-body {
  overflow-y: auto;
  height: calc(100vh - 48px);
}
.menu .menu-body .menu-item .item {
  display: flex;
  align-items: center;
  margin-left: 6px;
  padding: 0 14px 0 8px;
  height: 42px;
}
.menu .menu-body .menu-item:hover {
  background-color: #5d5d61;
}
.menu .menu-body .active {
  border-left-color: #2ca01c !important;
  background-color: #5d5d61;
  font-family: MisaNotoSans-Semibold !important;
  border-left: 6px solid transparent;
  margin-left: 0 !important;
}
.menu .menu-body .menu-item .icon {
  margin-right: 8px;
}
.menu .menu-body .menu-item .title {
  color: #ffffff;
}
